<!DOCTYPE html>
<html>
  <head>
    <title>Original</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h3><span>DepuySynthes-Kanto5Dst-</span></h3>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="contents">
        <%= yield %>
      </div>
    <% else %>
      <div class="contents">
        <%= link_to "新規登録", new_user_registration_path, method: :get, class: "menu" %>
        <%= link_to "ログイン", new_user_session_path, method: :get, class: "menu" %>
      </div>
    <% end %>
    <div class="footer">
      <small>© 2020 DPS_Kohei_Asahi inc.</small>
    </div>
  </body>
</html>
